<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include('components/header') %>
</head>
<body>
  <div class="col-lg-4">
    <div class="card bg-info m-3">
      <div class="card-body" style="cursor: pointer" data-id="<%= el.id %>">
        <div class="text-right">
          <button type="button" class="btn btn-danger alert-link badge-pill" data-id="<%= el.id %>">X</button>
        </div>
        <h3 class="card-title alert-link"><%= el.title%></h3>
        <h5 id="list-task" class="card-text">
          <% el.text.forEach((e) => { %>
          <li class="list-item" data-id="<%= el.id %>"><%= e %></li>
         <% }) %>
        </h5>
        <button class="btn btn-primary badge-pill edit-list-btn" data-id="<%= el.id %>">Edit</button>
      </div>
    </div>
  </div>
</body>
</html>