<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>card</title>
  <%- include('components/header') %>
</head>
<body>
  <div class="container">
    <% if(!note[0].list) {%>
    <div class="card col-lg-4  bg-warning mt-5" >
      <div class="card-body">
        <!-- <div class="text-right">
            <button type="button" class="btn btn-danger">X</button>
        </div> -->
        <h5 class="card-title"><%= note[0].title %></h5>
        <h6 class="card-text"><%= note[0].text %></h6>
        <a href="/" type="button" class="btn btn-success">Go back</a>
    </div>
    </div>
    <% }else {%>

      <div class="col-lg-4">
          <div class="card bg-info m-3">
            <div class="card-body list-card" style="cursor: pointer" data-id="<%= note[0].id %>">
              <h3 class="card-title alert-link"><%= note[0].title%></h3>
              <h5 id="list-task" class="card-text">
                <% note[0].text.forEach((e) => { %>
                <li class="list-item" data-id="<%= note[0].id %>"><%= e %></li>
               <% }) %>
              </h5>
              <a href="/"><button class="btn btn-success badge-pill edit-list-btn" data-id="<%= note.id %>">Go back</button></a>
            </div>
          </div>
        </div>
        <% }%>
  </div>
</body>
</html>